@import "./variables.scss";
@import "./mixins.scss";

.news {
  &-container {
    // padding: $section-padding-mobile 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: -40px;
    border: 1px solid gray;
    padding: 0 20px;

    @include respond-to("medium") {
      //   padding: $section-padding 20px;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    &:hover {
      color: blue;
    }
  }

  //   &-title {
  //     @include xlarge-font();
  //     @include title-link-border();
  //     margin-bottom: 20px;
  //     text-align: center;
  //     align-self: center;

  //     @include respond-to("medium") {
  //       margin-bottom: 40px;
  //     }
  //   }

  &-description {
    @include medium-font();
    width: 900px;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  &-game {
    margin: 40px 0;
  }
}
